<div class="custom-card">
  <div class="custom-card-divider">
    <h1>{{ article.title }} <img zf-iconic="" icon="flag" size="small" class="show-for-medium float-right iconic-color-secondary" ng-click="moveMap(article.coords)"></h1>
  </div>
  <div class="custom-card-section">
    <div class="grid-block align-spaced small-up-4 medium-up-4 large-up-4">
      <div ng-repeat="image in article.images" class="grid-block">
        <img class="thumbnail" src="{{ image.srcMin }}"/>
      </div>
    </div>
    <p>{{ article.textDisplayed }}</p>
    <a ng-show="article.toggleLongText" ng-click="toggleLongText(article)">En savoir plus</a>
  </div>
</div>
