<div class="primary card">
  <div class="card-divider">
    <span>{{ article.title }} <img zf-iconic="" icon="flag" size="small" class="show-for-medium float-right iconic-color-secondary" ng-click="moveMap(article.coords)"></span>
  </div>
  <div class="card-section">
    <div class="grid-block align-spaced small-up-4 medium-up-4 large-up-4">
      <div class="grid-block"><img class="thumbnail" src="http://placehold.it/100x100"></div>
      <div class="grid-block"><img class="thumbnail" src="http://placehold.it/100x100"></div>
      <div class="grid-block"><img class="thumbnail" src="http://placehold.it/100x100"></div>
      <div class="grid-block"><img class="thumbnail" src="http://placehold.it/100x100"></div>
      <div class="grid-block"><img class="thumbnail" src="http://placehold.it/100x100"></div>
    </div>
    <p>{{ article.text }}</p>
  </div>
</div>
