---
name: home
url: /
animationIn: slideInRight
---

<div class="show-for-medium grid-block medium-6 vertical" ng-controller="homeMapController">
  <leaflet defaults="defaults" layers="layers" controls="controls" center="center" markers="markers"></leaflet>
</div>

<div class="grid-block medium-6 vertical" ng-controller="articlesController">
  <div class="grid-content vertical shrink">
    <p>consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div ng-repeat="article in articles" class="grid-content vertical shrink" ng-include="'/partials/article.html'"></div>
</div>
